.mv { display: flex;
background: #FFFFFF;
color: #091e42;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
align-items: center;
letter-spacing: 0.37px;
margin: 12px 0px;}

.mv1 { display: flex;
background: #FFFFFF;
color: #344563;
font-family: 'Poppins';
font-size: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
margin: 12px 0px;}

.b { display: flex;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #7f8cff;
margin: 0px 8px;}

.twitter { display: flex;
}
