
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f4f5f7;
}

/* SECTIONS & CONTAINERS */

header {
  margin: 0;
  padding: 1rem 3%;
  background: #fff;
}

section {
  margin: 0;
  padding: 5rem 3%;
}

.hero-section {
  padding: 0 3%;
  background-color: #fff;
  background-image: url(/assets/header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 12rem;
}

.about-section {
  background-color: #fff;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.container-small {
  max-width: 57.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-info {
  max-width: 40%;
}

.skills-wrapper {
  width: 50%;
}

.skills-list {
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.skill-item {
  background-color: #f7f7f9;
  padding: 0.75rem;
  border-radius: 0.75rem;
  width: 7.625rem;
  height: 7.5rem;
  margin: 0 0.75rem 0 0;
}

.chevron-closed {
  transform: rotate(-90deg);
}

ul.hide {
  display: none !important;
}

.closed {
  padding: 1.5rem 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #dfe1e6;
}

.skill-badge {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
}

.skill-name {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #253858;
  margin: 0.75rem 0;
}

.skill-trigger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
  font-weight: 400;
  color: #344563;
}

.nav-container {
  max-width: 80rem;
  margin: 0 auto;

  /* to centre the div */
  padding: 1rem 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;

  /* equal to 8px */
}

.logo {
  padding: 10px 12px;

  /* to be converted to REM */
  font-size: 18px;
  color: #6070ff;
}

.nav-link {
  padding: 10px 12px;

  /* to be converted to REM */
  margin: 0 0.5rem 0 0;
  color: #344563;
  font-size: 1rem;
  font-weight: 500;
}

h1.heading {
  font-size: 3rem;

  /* equal to 48px */
  font-weight: 700;
}

h2.heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #091e42;
  text-transform: capitalize;
}

p.supporting-text {
  font-size: 1.25rem;
  font-weight: 400;
  color: #344563;
}

p.about-bio {
  font-size: 1rem;
  font-weight: 400;
  color: #344563;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-to-action {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height-step: 24px;
  color: #7f8cff;
  justify-content: space-between;
  margin: 2rem 0 1rem 0;
}

.icons {
  display: flex;
  margin: 0 0 2rem 0;
}

.social-icon {
  margin-right: 1rem;
}

.headline-section {
  margin: 12px 0;
  padding: 10rem 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.twitter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.github {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hamburger-menu {
  float: right;
  display: flex;
  width: 18px;
  height: 12px;
  justify-content: center;
  align-items: center;
}

.mylogo {
  display: flex;
  float: left;
  color: #6070ff;
  justify-content: left;
  font: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height-step: 20px;
  align-items: center;
  text-align: center;
}

.mobile-menu {
  display: none;
}

.project,
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  margin: 4.438rem 0;
}

@media screen and (max-width: 768px) {
  .skills-wrapper {
    width: 100%;
  }

  .skills-list {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  .skill-name {
    margin: 0 1rem;
  }

  .skill-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #f7f7f9;
    padding: 0.75rem;
    border-radius: 0.75rem;
    width: 100%;
    height: auto;
    margin: 0 0 0.75rem  0;
  }

  .about-info {
    max-width: 100%;
    margin: 0 0 4rem 0;
  }

  .flex-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .portfolio {
    margin: 0 auto;
    padding: 5rem 3%;
  }

  .project,
  .grid {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid #dfe1e6;
    background-color: #fff;
    margin: 4.438rem 0;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid #dfe1e6;
    background-color: #fff;
    margin: 4.438rem 0;
  }

  .toolbar {
    display: none;
  }

  .logo {
    display: none;
  }

  .mobile-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  h1.heading {
    font-size: 2rem;
  }

  .section {
    padding: 0 3%;
    background-image: url(/assets/header-shapes_mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.portfolio {
  max-width: 80rem;
  margin: 0 auto;
  padding: 8.875rem 3%;
}

.portfolio-section {
  background-color: #f4f5f7;
}

.project-img {
  display: inline-block;
  width: 100%;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1.5rem;
}

.project-title {
  align-content: left;
  justify-content: left;
  font-weight: 700;
  grid-auto-flow: row;
  font-size: 32px;
  line-height-step: 44px;
  padding: 10 3%;
  color: #172b4d;
}

.project-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.project-tag {
  font-weight: 500;
  text-transform: uppercase;
  text-size-adjust: 18px; /* to be converted to REMs */
  color: #344563;
  margin: 0 12px 0 0; /* Change 12px to REMs */
}

.project-tech,
.project-year {
  color: #6b778c;
  font-weight: 400;
  font-size: 18px; /* to change 18px to REMs */
  margin: 0 12px;
}

.project-desc {
  font-size: 1rem;
  font-weight: 400;
  color: #344563;
  margin: 1rem 0 0 0;
}

.tags {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 0 2rem 0;
}

.tag {
  font-size: 0.75rem;
  color: #6070ff;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  background-color: #ebebff;
  border-radius: 0.5rem;
  margin: 0 0.5rem 0 0;
}

a.see-project {
  margin: 1rem 0;
  text-size-adjust: 1.0625rem;
  color: #396df2;
  text-decoration: none;
  padding: 0.75rem; /* Refactor : PX -> REMs , shortcut for padding: 12px 12px 12px 12px; */
  border: 0.0625rem solid #6070ff; /* Border Size, Type , Color */
  border-radius: 0.5rem;
  transition: all 0.4s ease-in-out; /* 400ms */
}

a.button {
  text-size-adjust: 1.0625rem;
  color: #396df2;
  text-decoration: none;
  padding: 0.75rem; /* Refactor : PX -> REMs , shortcut for padding: 12px 12px 12px 12px; */
  border: 0.0625rem solid #6070ff; /* Border Size, Type , Color */
  border-radius: 0.5rem;
  transition: all 0.4s ease-in-out; /* 400ms */
}

a.see-project:hover {
  text-size-adjust: 17px;
  background-color: #396df2;
  color: #fff;
  text-decoration: none;
  padding: 12px;
  box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
  border: 1px solid #6070ff;
  border-radius: 0.5rem;
}

a.see-project:focus {
  text-size-adjust: 17px;
  background-color: #2230d2;
  color: #fff;
  text-decoration: none;
  padding: 12px;
  border: 1px solid #2230d2;
  border-radius: 0.5rem;
  outline: 1px #396df2;
}

.works-header {
  display: grid;
  padding: 18px;
}

/* Portfolio Styles Section */

section .portfolio {
  max-width: 80rem;
  margin: 0 auto;
}

/* About me page. */

.about-container {
  display: flex;
}
